.app-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  border: 1px solid #7b8794;
}
.input-box {
  border-style: none;
  width: 80%;
  background-color: transparent;
  outline: none;
}
.serch-image {
  width: 25px;
  height: 25px;
}
.heading {
  color: #1e293b;
  font-family: 'Bree Serif';
}
.tab-list-item {
  display: flex;
  align-self: center;
  margin-top: 30px;
  margin-right: 33px;
}
.app-all-itmes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
}
